.personal-info-form {
  position: relative;
}

.personal-info-form_background {
  width: 100vw;
  height: 300px;

  background-color: #1ab9a7;
}

.personal-info-form_info {
  width: 100vw;

  position: absolute;
  top: 64px;
}

.personal-info-form_title {
  margin: 0;
  color: #fff;
  text-align: center;
}

.not-toggled {
  color: blue;
}

.toggled {
  color: red;
}

.personal-info-form_form {
  max-width: 768px;
  margin: 32px auto;
  background-color: white;

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.personal-info-form_form_user-info-container {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.navigation-button {
  margin: 4px;
  padding: 6px;
}

.personal-info-form_form_user-info-container_navigation {
  display: flex;

  justify-content: center;
}
